<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <style>
        .container {
            margin: auto;
            width: 50%;
            padding: 20px;
            background-color: #a2a2a2;
        }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Welcome <span data-th-text="${name}"></span> </h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita
        voluptas eaque vitae labore magni excepturi animi minus quia repellendus
        cupiditate, recusandae, culpa deleniti, sapiente officia. Ad aliquid
        voluptatum architecto harum qui. Dicta, deleniti porro possimus, ab
        vitae aliquam reiciendis ut nulla doloremque, sapiente dignissimos non
        autem minus! Sapiente, facere quisquam?
      </p>
    </div>
  </body>
</html>
